In [2]:
import pandas as pd

In [3]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [4]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
school_data_df.tail(2)

    School ID         school_name      type  size   budget
13         13    Ford High School  District  2739  1763916
14         14  Thomas High School   Charter  1635  1043130

In [6]:
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [7]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [8]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [9]:
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [10]:
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [11]:
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [12]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [13]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [14]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [15]:
#Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [16]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
    print(student_data_df)

C:\Users\ASEM\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ASEM\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ASEM\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\ASEM\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]

In [17]:
# Put the cleaned students' names in another list.
student_names = student_data_df["student_name"].tolist()
Student=set(student_names)
Student

{'Troy Hooper',
 'Judith Flores',
 'Jeffery Tran',
 'James Richards',
 'Zachary Baker',
 'Brian Sparks',
 'Megan Villa',
 'Jeremy Hampton',
 'John Walls',
 'Jeffrey Peters',
 'Angela Turner',
 'Kristopher Schaefer',
 'Joel Richard',
 'Angela Barker',
 'Amanda Gonzales',
 'Nathan Stone',
 'Connie Sanchez',
 'Bradley Jackson',
 'Shelly Walker',
 'Paula Andrews',
 'Dalton Mooney',
 'Chase Morrison',
 'Wendy Martinez',
 'Miranda Smith',
 'Brandi Swanson',
 'Michael Li',
 'Ruth Buchanan',
 'Hector Harris',
 'Justin White',
 'Russell Gould',
 'Brian Fowler',
 'Julia George',
 'William Cochran',
 'Lindsey Brooks',
 'Jennifer Ball',
 'Rachel Petersen',
 'Sheri Holden',
 'Crystal Jacobs',
 'Penny Franco',
 'Jane Santos',
 'Lauren Gomez',
 'David Kelley',
 'Joshua Mercado',
 'Amanda Nelson',
 'Adam Robinson',
 'Peter Stone',
 'Kimberly Key',
 'Danielle Tran',
 'Matthew Baldwin',
 'Mario Daniel',
 'Timothy Garcia',
 'Oscar Kaiser',
 'Vanessa Christensen',
 'Ann Chen',
 'Katherine Anderson',
 'Daniel Garcia',
 'Mary Scott',
 'Dillon Harding',
 'Maria Hamilton',
 'Donna Berry',
 'Keith Freeman',
 'Thomas Reed',
 'Darlene Valencia',
 'Brooke Jenkins',
 'Jonathan Gardner',
 'Allen Reyes',
 'Robert Robbins',
 'Dan Williams',
 'Kara Rodriguez',
 'Amber Rice',
 'Olivia Lewis',
 'Howard Burton',
 'Melissa Sullivan',
 'Nicole Ortiz',
 'Kayla Griffin',
 'Christopher Gomez',
 'Angela Estrada',
 'Kathy Lucero',
 'Robert Escobar',
 'Natasha Dean',
 'Lisa Hansen',
 'Jeremy Mendoza',
 'Jennifer Fletcher',
 'Renee Parks',
 'Patrick Stanley',
 'Carrie Wells',
 'Tiffany Ramirez',
 'Elizabeth Martin',
 'Zoe Burgess',
 'Shannon Barajas',
 'Kathleen Davis',
 'Casey Hayes',
 'Alexander Merritt',
 'Deborah Patterson',
 'Kristin Kennedy',
 'Brad Martinez',
 'Raymond Riley',
 'Barbara Williams',
 'Heidi Bowman',
 'Joshua Harper',
 'Anthony Hughes',
 'Gregory Watson',
 'Nicholas Howell',
 'Christopher Cantu',
 'Peter Ortiz',
 'Jenna Perkins',
 'Ryan Stevens',
 'Mary Carter',
 'Jessica Russell',
 'Loretta Williams',
 'Chelsea Reed',
 'Zachary Strong',
 'Douglas Bryant',
 'Scott Morris',
 'Jeremy Vargas',
 'Brent Christensen',
 'Brian Russell',
 'Robert Swanson',
 'Jeremiah Jensen',
 'Timothy Berry',
 'Denise Rojas',
 'Michael Rhodes',
 'Bill Pena',
 'Barbara Tran',
 'Alyssa Williams',
 'Johnny Barnett',
 'Gregory Beck',
 'Veronica Sherman',
 'Barbara Bush',
 'Kenneth Woods',
 'Tracy Charles',
 'Jack Shepherd',
 'Justin Wilson',
 'Allen Swanson',
 'Tiffany Reynolds',
 'Janice Cook',
 'Nicholas Macdonald',
 'Jordan Evans',
 'Marvin Stewart',
 'Natalie Avila',
 'Ruben Ramirez',
 'Theresa Kelley',
 'Caitlin Ray',
 'Wendy Browning',
 'Mark Brady',
 'Trevor Blackburn',
 'Todd Molina',
 'Leonard Cox',
 'David Jackson',
 'David Reed',
 'Barbara Jimenez',
 'Sheila Anderson',
 'Madison Collier',
 'Tommy Bowers',
 'Daniel Stephens',
 'Deanna Burch',
 'Terry Taylor',
 'Rachel Payne',
 'Nancy Bender',
 'Angela Archer',
 'Charlotte Gordon',
 'Ashley Dickerson',
 'Kelli Barnes',
 'Krystal Anderson',
 'Tara Schwartz',
 'Michele Johnson',
 'Diane Vaughn',
 'Matthew Quinn',
 'Patricia Jackson',
 'Kevin Flowers',
 'Melinda King',
 'Terri Lee',
 'Tasha Garcia',
 'Hunter Tanner',
 'Renee Buckley',
 'Bryan Padilla',
 'Michael Chavez',
 'Ariana Burns',
 'Patricia Underwood',
 'Megan Robertson',
 'Becky Hernandez',
 'Paula Gonzalez',
 'Emily Padilla',
 'Tracy Kaiser',
 'Jordan Wood',
 'Rebecca Morgan',
 'Erin Ibarra',
 'Rodney Mcgee',
 'Lisa Schneider',
 'Elizabeth Stuart',
 'Renee Rogers',
 'David Allen',
 'Nathan Flores',
 'Jessica Pierce',
 'Jessica Palmer',
 'Elizabeth Nichols',
 'William Harrison',
 'Kevin Strickland',
 'Joshua Branch',
 'Sarah Leon',
 'Travis Lowery',
 'Melissa Flynn',
 'Kathryn Montgomery',
 'John Fowler',
 'Timothy Flowers',
 'Erica Thompson',
 'Edward Williams',
 'Christopher Jensen',
 'Michele Howard',
 'Andrew Erickson',
 'Kelly Rivera',
 'Christine Stafford',
 'Amber Phillips',
 'Matthew Wood',
 'Katherine Wright',
 'Jennifer Jackson',
 'Paula Jackson',
 'Renee Mahoney',
 'Joshua Lowe',
 'Zachary Stuart',
 'Desiree Bishop',
 'Margaret Cooper',
 'Aaron Davis Jr.',
 'Ernest Joseph',
 'Kenneth Hughes',
 'William Carrillo',
 'Raymond Rhodes',
 'Veronica Lester',
 'Steven Garcia',
 'Adam Lopez',
 'Michelle Gomez',
 'Tanya Turner',
 'Jennifer Shea',
 'Tammy Butler',
 'Marissa Reed',
 'Travis Anderson',
 'Kevin Morgan',
 'Joanna Brown',
 'Nathan Taylor',
 'Brandon Jackson',
 'Matthew Owens',
 'Jean Horton',
 'Amanda Jordan',
 'Jessica White',
 'Jacqueline Marshall',
 'April Miller',
 'Matthew Hawkins',
 'Robert Sloan',
 'Jessica Newman',
 'Deborah Farrell',
 'Robert Ellis',
 'Jacqueline Kim',
 'Debra Walker',
 'Shannon Vance',
 'Mary Harmon',
 'Emily Rose',
 'Spencer Pittman',
 'John Rush',
 'Michael Lozano',
 'Samuel Hale',
 'Marvin Johnson',
 'Raven Lawson',
 'Thomas Gonzalez',
 'Angela Hernandez',
 'Thomas Rogers',
 'Matthew Scott',
 'Jennifer Cobb',
 'Mary Boyd',
 'Maria Gallegos',
 'Rose Thompson',
 'Linda Hall',
 'Thomas White',
 'Kenneth Garner',
 'Allen Payne',
 'Christopher Austin',
 'Margaret Brown',
 'Kristen Mccann',
 'Troy Walker',
 'Jacqueline Hooper',
 'Deborah Galvan',
 'Alexis Perkins',
 'Edwin Hale',
 'Marc Snyder',
 'Annette Moran',
 'Martin Conley',
 'Richard Decker',
 'Victoria Stout',
 'Elizabeth Whitaker',
 'Thomas Proctor',
 'Robert Jarvis',
 'Kyle Charles',
 'Terry Chen',
 'Eric Miller',
 'Mindy Taylor',
 'Diane Cunningham',
 'James Khan',
 'Glenda Cox',
 'Emily Goodman',
 'Pamela Gibson',
 'Matthew Marks',
 'Jamie Mitchell',
 'Lauren Schmitt',
 'Kimberly Floyd',
 'Justin Thomas',
 'Thomas Wolf',
 'Hunter James',
 'Connie Martin',
 'Kent Oliver',
 'Renee Mcdonald',
 'Beth Hendricks',
 'Debra Baker',
 'Alicia Marshall',
 'Edward Johnson',
 'Margaret Barnes',
 'Tanya Tyler',
 'Rhonda Ray',
 'Kevin Rowe',
 'Brian Leonard',
 'Dana Barnes',
 'Elizabeth Tran',
 'Omar Thompson Jr.',
 'Peter Heath',
 'Edward Carr',
 'Victoria Torres',
 'Randy Lynch',
 'Julie Cook',
 'Colleen Dominguez',
 'Emily Shannon',
 'Morgan Barnett',
 'Joseph Lloyd',
 'Andrew Lopez',
 'Robert Moore',
 'Vicki Stein',
 'Elaine Osborne',
 'Andre Mcdaniel',
 'Tonya Logan',
 'Angel Pratt',
 'Richard Ellis Jr.',
 'Julie Knight',
 'Joshua Smith',
 'Jane Murphy',
 'Kirsten Cervantes',
 'Maria Watkins',
 'Renee Thomas',
 'Robert Ponce',
 'Destiny Maldonado',
 'Ruth Castillo',
 'Laura Drake',
 'Ray Ellison',
 'Andrew Reid',
 'Bill Williams',
 'Diana Reeves',
 'Roy Hernandez',
 'Ashley Bradford',
 'Linda Alvarado',
 'Cindy Cole',
 'Casey Reed',
 'Stuart Bowman',
 'Carolyn George',
 'Courtney Burns',
 'Joseph Gonzales',
 'Justin Wells',
 'Debra Sanders',
 'Kelly James',
 'Jaime Edwards',
 'Kyle David',
 'Antonio Osborne',
 'Paula Stewart',
 'Maria Solomon',
 'Marie Morris',
 'Nicole Joyce',
 'Zachary Bowen',
 'Charlotte Olson',
 'Alicia Kelley',
 'Diane Jones',
 'Christine Hicks',
 'Nicholas Wu',
 'Kevin Arroyo',
 'Brian Cherry',
 'Mark Harmon',
 'Laurie James',
 'Kenneth Dalton',
 'Mark Jordan',
 'Alexis Foster',
 'Daniel Henson',
 'Jonathan Cole',
 'Timothy Gray',
 'Roy Rose',
 'Randy Hardy',
 'Megan Cochran',
 'Spencer Evans',
 'Henry Wilkins',
 'James Wallace',
 'Diana Mccormick',
 'Dana Hart',
 'Christina Alvarez',
 'William Dorsey',
 'Linda Lewis',
 'Joshua Pugh',
 'Theresa Fuller',
 'Hunter Johnson',
 'Justin Walsh',
 'Rickey Oconnor',
 'Barry Hunt',
 'Michelle Fox',
 'Lindsey Burton',
 'Erica Singh',
 'Michelle Alexander',
 'Hannah Carson',
 'Marc Davis',
 'Renee Wolf',
 'Kelly Cox',
 'Marc Moore',
 'Stephen Price',
 'Antonio Odonnell',
 'Marissa Mccann',
 'Christina Hall',
 'Ashley Gray',
 'Veronica Clark',
 'Kenneth Savage',
 'Laura Hurst',
 'Isaiah Maldonado',
 'Benjamin Caldwell',
 'Richard Figueroa',
 'Gabriel Douglas',
 'Karen Long',
 'Michele Torres',
 'Dawn Oliver',
 'Daniel Mcclure',
 'Barbara Walls',
 'Ryan Norris',
 'Christina Rogers',
 'Shelby Delgado',
 'Clifford Simmons',
 'Joe Simpson',
 'Courtney Pena',
 'Kimberly Carter',
 'Andrew Lee',
 'Pamela Reed',
 'Kathy Rasmussen',
 'Tristan Wilson',
 'David May',
 'Walter Garner',
 'Sarah Snyder',
 'Stacie Luna',
 'Steven James',
 'Patricia Abbott',
 'Kathy Hernandez',
 'Elizabeth Deleon',
 'Mark Benitez',
 'Michelle Rodriguez',
 'Margaret Garner',
 'Paul Pratt',
 'Kelli Horne',
 'William Rich',
 'Jasmine Houston',
 'Garrett Figueroa',
 'Nathan Hayes',
 'Elizabeth Barnes',
 'Karen Krueger',
 'Lisa Ortiz',
 'John Griffith',
 'William Reid',
 'Daisy Powers',
 'Mike Burns',
 'Richard Haas',
 'Jared Hanson',
 'Ryan Roberts',
 'Brandon Moore',
 'Marc Wilson',
 'Jill Calhoun',
 'Tammy Franco',
 'Abigail Perez',
 'Riley Skinner',
 'Wendy Mcclain',
 'Kelly Snow',
 'Christian Moran',
 'Lorraine Atkins',
 'Lance Davis',
 'Christopher Maldonado',
 'Damon Brown',
 'Chad Stafford',
 'Ashley Wood',
 'Joseph Gardner',
 'Nicolas Alvarez',
 'Joshua Frye',
 'John Simpson',
 'Victor Campos',
 'Shawna Murphy',
 'Leonard Webster II',
 'Austin Johnston',
 'Valerie Jordan',
 'Jessica Campbell',
 'Lawrence Jenkins',
 'Monica Gonzales',
 'Reginald Roberts',
 'Michael Wells',
 'Kathleen Henry',
 'Zachary Gibson',
 'Samantha Cuevas',
 'Jesse Dunlap',
 'Richard Hernandez',
 'Traci Burch',
 'Sandra Rodriguez',
 'Carmen Smith',
 'Jamie Fernandez',
 'Stephen Cohen',
 'Brandon Romero',
 'Lori Rivera',
 'Mike Vaughn',
 'Sharon Mitchell',
 'Stefanie Jackson',
 'Renee Monroe',
 'Emily Ward',
 'Laura Santos',
 'Angela Henderson',
 'Janet Johnson',
 'Samuel Cox',
 'Joanne Baldwin',
 'Shawn Brooks',
 'Renee Payne',
 'Kelly Pineda',
 'Michele Jones',
 'James Watkins',
 'Tammy Dean',
 'Julia Woodard',
 'Anthony Carlson',
 'John Weber',
 'Marcus Gill',
 'Jeremy Romero',
 'Danielle Mitchell',
 'Christopher Watson',
 'Jessica Joseph',
 'Tyler Freeman',
 'Patrick Hawkins',
 'Eric Smith',
 'Kathryn Velazquez',
 'Michael Peterson',
 'Jeremy Hart',
 'Todd Guzman',
 'Adam Myers',
 'Martha Allen',
 'Craig Morgan',
 'Sarah Lawson',
 'Catherine Rasmussen',
 'Jennifer Blanchard',
 'Michael Griffin',
 'Carol Hayes',
 'Dennis Padilla',
 'Monique Thomas',
 'Martin Torres',
 'Cody Reilly',
 'Julia Rojas',
 'Sheila Green',
 'Amanda Giles',
 'Amber Morrow',
 'Janet Taylor',
 'Linda Anderson',
 'Rebecca Rice',
 'Katie Neal',
 'Christian Harvey',
 'Keith Williams',
 'Joshua Cabrera',
 'John Bernard',
 'Shaun Powell',
 'Christina Phelps',
 'Eric Maynard',
 'Alexandra Black',
 'Robert Nichols',
 'Erica Williams',
 'Maria Gomez',
 'Justin Payne',
 'David Elliott',
 'Cynthia Molina',
 'Gina Rogers',
 'Cynthia Richardson',
 'Wesley Morton',
 'Trevor Delgado',
 'Steven Ware',
 'Charles Hicks',
 'Tammy Lawrence',
 'Frank Garza',
 'Roberta Edwards',
 'Holly Miles',
 'Melissa Logan',
 'Nicholas Mclean',
 'Frank Franco',
 'Tanner Terrell',
 'Christine Woods',
 'Amber Banks',
 'Mary Nguyen',
 'Aaron Carpenter',
 'Emily Collins',
 'Gary Morse',
 'Carl Turner',
 'Tiffany James',
 'Erik Miller',
 'Mark Miller',
 'Mark Nelson',
 'Thomas Gutierrez',
 'Pamela Mason',
 'Marie Sullivan',
 'Curtis Christensen',
 'Alexa Park',
 'David Graves',
 'Noah Taylor',
 'Clinton Nguyen',
 'Michelle Lewis',
 'Carolyn Garza',
 'April Burton',
 'Kendra Lee',
 'Maurice Lee',
 'Derek Osborne',
 'Paul Aguilar',
 'John Guerra',
 'Billy Harvey',
 'James Clayton',
 'Patrick Herrera',
 'Gina Miller',
 'Kimberly Gray',
 'Dave Jones',
 'Rachel Newton',
 'Larry Williams',
 'Charles Harper',
 'Alexander Wilson',
 'Paula Gregory',
 'Christopher Riley',
 'Michael Ayala',
 'Alicia Rhodes',
 'Doris Kane',
 'Robyn Wright',
 'Ashley Evans',
 'Janet James',
 'Richard Graham',
 'Lauren Campbell',
 'Kelly Ellison',
 'Christina Haynes',
 'Michael Abbott',
 'Denise Barnes',
 'Tony Stanley',
 'Brad Green',
 'Cody Cuevas',
 'Margaret Stafford',
 'Gary Randall',
 'Rodney Fleming',
 'Diane Hodge',
 'Karen Conrad',
 'Patricia Shepard',
 'Krista Walker',
 'Tammy Luna',
 'Diane Hess',
 'Michelle Gallagher',
 'Rebecca Carter',
 'Anne Howard',
 'Jennifer Harper',
 'Samantha Lara',
 'Johnny Martin',
 'Mckenzie Webb',
 'Randall Carroll',
 'Peter Simon',
 'Shawn Ramirez',
 'Edward Dudley II',
 'Ronnie Johnson',
 'Susan Crawford',
 'Elizabeth Harvey',
 'Angela Lewis',
 'Amanda Galvan',
 'Claudia Crawford',
 'Michael Franco',
 'James Gallagher',
 'Ana Schmidt',
 'Brooke Campbell',
 'Jason Brooks',
 'Christopher Hines',
 'Sarah Waller',
 'Bobby Hart',
 'Jennifer Keith',
 'Joann Brown',
 'Cody Chandler',
 'Kathryn Holland',
 'Krista Costa',
 'Bianca Owens',
 'Tabitha Escobar',
 'Brandi Leonard',
 'Diana Calderon',
 'Matthew Arroyo',
 'Sara Hicks',
 'Stephanie Baldwin',
 'Amber Larson',
 'Dawn Scott',
 'Amanda Reed',
 'Leah Williams',
 'Robert Holloway',
 'Patricia Levy',
 'Mark Dunlap',
 'Debra Flores',
 'Jared Kelley',
 'Jose Lucas',
 'Nathaniel Vega',
 'Maria Ramirez',
 'Virginia Peters',
 'Holly Lee',
 'Phillip Brown',
 'Thomas Preston',
 'Mark Hester',
 'Angela Powell',
 'Rodney Mccarty',
 'Robin Walker',
 'Ronald Carroll',
 'Joseph Howard',
 'Gina Bailey',
 'Matthew Schwartz',
 'Sandra Martin',
 'Tracy Young',
 'Richard Gonzalez',
 'Heather Morales',
 'James Chavez',
 'Karen Saunders',
 'Brian Barrett',
 'David Arias',
 'Teresa Morris',
 'Elizabeth Harris',
 'John Allen',
 'Valerie Watson',
 'Robert Conley',
 'Tracey Mckee',
 'Paula Johnston',
 'Tammy Maxwell',
 'Gabriella Weaver',
 'Amanda Flores',
 'Terry Adams',
 'James Castillo',
 'Juan Foster',
 'Jerry Woods',
 'Jade Black',
 'Carla Humphrey',
 'Todd Morales',
 'Nathaniel Wood',
 'Roy Rodriguez',
 'Carrie Fowler',
 'Matthew Simpson',
 'Lori Hale',
 'Pamela Graves',
 'Bobby Diaz',
 'Jesse Hudson',
 'Christian Jones',
 'Marissa Livingston',
 'Erika Page',
 'Matthew Hays',
 'Andrea Murphy',
 'Edward Martinez',
 'Anthony Contreras',
 'Robert Tanner',
 'Kelly Thomas',
 'Manuel Thomas',
 'Travis Coleman',
 'Sarah Hodge',
 'Julia Lewis',
 'Michelle Ford',
 'Sarah Hicks',
 'Jose Larson',
 'Robert Bush',
 'Ryan Cooke',
 'Johnny Williamson',
 'David Ryan',
 'Melvin Scott',
 'Andrea Brandt',
 'Christopher Sandoval',
 'Shane Murray',
 'Sarah Page',
 'Manuel Shepherd',
 'Paul Hardy',
 'Eric Wiggins',
 'Jasmine Johnson',
 'Dominic Rivas',
 'William Valdez',
 'Stephen Green',
 'Mitchell Holmes',
 'Stuart Gross',
 'Robin Montes',
 'Nathan Bond',
 'Heather Stuart',
 'Matthew Steele',
 'Eric Thompson',
 'Daniel Watts',
 'Morgan Garcia',
 'Julie Warren',
 'Sara Schmidt',
 'Aaron Griffin',
 'Mark Hines',
 'Trevor Woods',
 'Richard Davis',
 'Tami Larson',
 'Jonathan Yates',
 'Joy White',
 'Alexandra Brown',
 'Charles Robertson',
 'Julia Peterson',
 'David Velazquez',
 'Andrew Gomez',
 'Mark Willis',
 'Kristin Zimmerman',
 'Sarah Kaufman',
 'Joseph Mcgrath',
 'Robert Guerra',
 'Monica Sheppard',
 'Erik Snyder',
 'Jimmy David',
 'Eileen Terry',
 'Kyle Lee',
 'Jose Jackson',
 'Thomas Mccoy',
 'Jeanette Page',
 'Taylor Watson',
 'Jennifer Baker',
 'Jacob Simmons',
 'Nathaniel Bonilla',
 'Caitlin Avila',
 'Ruth Hines',
 'Patrick Young',
 'Shane Hansen',
 'Steven Macdonald',
 'Teresa Davis',
 'Sarah Lawrence',
 'Juan Gonzales',
 'Pamela Mann',
 'Sabrina Schneider',
 'Vicki Macias',
 'Kristin Thomas',
 'Jeanette Berger',
 'Justin Mcdowell',
 'Maria Mosley',
 'Danielle Mcmillan',
 'Morgan Flores',
 'Donna Ward',
 'Christopher Hernandez',
 'Kaitlyn Mosley',
 'Jennifer Chavez',
 'Peter Carlson',
 'Jeffrey Sims',
 'Julia Hill',
 'Jessica Contreras',
 'Tyler Stephens',
 'Amanda Morgan',
 'Rachel Diaz',
 'Tiffany Huber',
 'James Bennett',
 'Cesar James',
 'Marcus Kelly',
 'Jamie Green',
 'David Aguilar',
 'Melissa Wise',
 'Laurie Jones',
 'William Nguyen',
 'Todd Ramirez',
 'Samantha Medina',
 'Daryl Hill',
 'William Flynn',
 'William Donaldson',
 'Kari Romero',
 'Kevin Hall',
 'Jeremy Hodge',
 'Amanda Rose',
 'Ruben Williams',
 'John Wright',
 'Lisa Vasquez',
 'Spencer Hernandez',
 'Ryan Orozco',
 'Eric Mcdonald',
 'John Walter',
 'Tyler Brown',
 'Brooke Gonzalez',
 'Timothy Lin',
 'Kathleen Reed',
 'Rhonda Bradley',
 'John Walker',
 'Robert Gonzalez',
 'Samantha Ashley',
 'Karen Clark',
 'Linda Vazquez',
 'Danielle Hughes',
 'Anthony Walsh',
 'Eric Glover',
 'Stephanie Rodriguez',
 'Jacob Shepard',
 'Charles Newman',
 'Tonya Rubio',
 'Luis Cannon',
 'Richard French',
 'Robin Adams',
 'Meredith Chase',
 'Cynthia Hall',
 'Julie Clark',
 'Hannah Montgomery',
 'Robert Boyle',
 'Sabrina Allen',
 'Anthony Maldonado',
 'Amy Anderson',
 'Nicole Wong',
 'Danielle May',
 'Luke White',
 'Margaret Williams',
 'Tracie Martinez',
 'Amy Delgado',
 'Albert Jones',
 'Brittney Moore',
 'Holly Allen',
 'Jeffrey Carter',
 'Fred Owens',
 'Lisa Gray',
 'Misty Stanley',
 'John Christensen',
 'Amanda Ferrell',
 'Cassandra Garrett',
 'Sean Craig',
 'Jennifer Lin',
 'Rebekah Hall',
 'Kimberly Vargas',
 'Gregory Woodard',
 'Amber Richards',
 'Donna Turner',
 'Erika Dunn',
 'Melissa Mathews',
 'Martha Walker',
 'Misty Garcia',
 'Kayla Cuevas',
 'John Perez',
 'Reginald Alvarado',
 'Mark Mccormick',
 'Joshua Mann',
 'Melissa Nichols',
 'Aaron Ramirez',
 'Bobby Gonzalez',
 'Jason Saunders',
 'Ricky Garcia',
 'Jean Cox',
 'Wayne Gilbert',
 'Jamie Collins',
 'Amanda Edwards',
 'Samantha Watts',
 'Jessica Parks',
 'Stacy Miles',
 'Madison Conley',
 'Amanda Morrison',
 'Preston Taylor',
 'Jeffrey Glenn',
 'Sean Day',
 'Dustin Marquez',
 'Carolyn Hammond',
 'Courtney Chapman',
 'Cole Meadows',
 'Todd Bowers',
 'Robert Hooper',
 'Christopher Anderson',
 'Christian Bradley',
 'Shane Griffith',
 'Melinda Hernandez',
 'Jeff Estes',
 'Elizabeth Perez',
 'Chelsea Cruz',
 'Holly Aguirre',
 'Christina Drake',
 'Terri Hill',
 'Sandra Taylor',
 'Heather House',
 'Kelsey Dillon',
 'Matthew Randall',
 'Matthew Henry',
 'Jodi Cooke',
 'Monica Dixon',
 'Scott Bright',
 'Julie Allison',
 'Michelle Cline',
 'Vickie Rice',
 'Natasha Powell',
 'Tracey Lambert',
 'Marc Baker',
 'Katie Gonzales',
 'Lee Mooney',
 'Jessica Hughes',
 'Sara Anderson',
 'Benjamin Meyer',
 'Antonio Hernandez',
 'Brett Banks',
 'Yvonne Ware',
 'Benjamin Delacruz',
 'Matthew Shaffer',
 'Jason Kennedy',
 'Colleen Mason',
 'Casey Thomas',
 'Jacqueline Logan',
 'Erika Rodgers',
 'Brandon Ortiz',
 'Jacob Wright',
 'Terrence Nelson',
 'Bethany Anderson',
 'Kathleen Pitts',
 'Debbie Garrison',
 'Vanessa Johnson',
 'Joseph Mcfarland',
 ...}

In [18]:
# Create a new list and use it for the for loop to iterate through the list.
students_fixed = []

In [19]:
# Use an if statement to check the length of the name.

# If the name is greater than or equal to 3, add the name to the list.

for name in Student:
    if len(name.split()) >= 3:
        students_fixed.append(name)

# Get the length of the students' names that are greater than or equal to 3.
len(students_fixed)

151